<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.neelkamath.goalninja">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="io.github.neelkamath.goalninja.App" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="io.github.neelkamath.goalninja.MainActivity"/>
        <activity android:name="io.github.neelkamath.goalninja.AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="io.github.neelkamath.goalninja.CreatorActivity"/>
        <receiver android:enabled="true" android:name="io.github.neelkamath.goalninja.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.parse.SERVER_URL" android:value="@string/parse_server_url"/>
        <meta-data android:name="com.parse.APPLICATION_ID" android:value="@string/parse_app_id"/>
        <receiver android:name="io.github.neelkamath.goalninja.NotificationsReceiver"/>
        <service android:exported="true" android:name="com.parse.PushServiceApi26" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>